/**
 * Author：dengyu
 * Time：2017/10/18
 * Description：dynamic field
 */

.dynamic-field{
  overflow-x: hidden;
  overflow-y: auto;
  .dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all .3s;
  }
  .dynamic-delete-button:hover {
    color: #777;
  }
  .dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .ant-form-item{
    margin-bottom: 9px !important;
  }
}
