/**
 * Author：dengyu
 * Time：2017/7/28
 * Description：queryCheckbox
 */

.query-checkbox{
  .checkbox-title{
    padding-left: 8px;
    padding-right: 8px;
  }
  .ant-checkbox-group{
    display: inline-block;
  }
}
