/**
 * Author：zhoushuanglong
 * Time：2017/5/11
 * Description：app.scss
 */

.slider-light {
    background: #fff;
}

.header {
    padding: 0;
    background: #fff;
}

.breadcrumb-nav {
    margin: 20px 0 10px 16px;
}

.content {
    margin: 0 16px 16px;
    background: #fff;
    border-radius: 3px;
    overflow: visible;
}

.footer {
    padding: 4px 0 16px;
    text-align: center;
}