/**
 * Author：zhoushuanglong
 * Time：2017/5/15
 * Description：menu toggle btn
 */

.menu-toggle-btn {
    float: left;
    padding: 0 16px;
    cursor: pointer;
    font-size: 18px;
    line-height: 64px;
    transition: color .3s ease-out 0s;
}